@model Author
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.FullName">Full name</label>
            <input type="text" asp-for="@Model.FullName" class="form-control" id="FullName" placeholder="Full name">
            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Desc">Desc</label>
            <textarea asp-for="@Model.Desc" class="form-control" id="Desc" rows="3"></textarea>
            <span asp-validation-for="@Model.Desc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhotoFile">Photo</label>
            <input asp-for="@Model.PhotoFile" />
            <span asp-validation-for="@Model.PhotoFile" class="text-danger"></span>

            @if (Model.Photo != null)
            {
                <div class="img-box" style="position:relative;max-width:200px">
                    <img class="d-block" src="~/uploads/@Model.Photo" style="max-width:200px" />
                    <i class="fas fa-times remove-img-box" style="color:red;position:absolute;top:-7px;right:10px;cursor:pointer"></i>
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                </div>
            }


        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {

            $(document).on("click", ".remove-img-box", function (e) {
                $(this).parents(".img-box").empty();
            })
        })
    </script>

 }
